* {
	margin: 0;
	padding: 0;
}
body {
	background-image:url(back1.png);
	background-size: 100%;
}
#head {
	position: absolute;
	left: 25px;
	top: 35px;
	font: bold 50px Tahoma;
	color: white; 
}
#login li {
	position:relative;
	left: 84%;
	top:25px;
	display: inline-block;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;
	background-color: white;
	padding: 15px;
	margin: 0;
}
#login a {
	color: black;
	text-decoration: none;
}
#head1 {
	position:absolute;
	right:50px;
	top:84px;
	color: white;
	font-size: 27px; 
}
#nav {
	width: 100%;
}
#nav ul {
	float: left;
}

#nav ul li {
	position: relative;
	display: block;
	top: 150px;
	float: left;
	list-style: none;
	padding: 10px 42px;
	font-size: 25px;
}
#nav ul li ul {
	position: absolute;
	display: none;
	right: 0px;
	background-color:#fff;
	border-radius: 4px;
	text-align: center;
	width: 250px;
	padding: 10px;
}
#nav ul li:hover ul {
	display: block;
}
#nav ul li ul li1 {
	border-radius: 4px;
}
#nav ul li ul li1 a {
	padding: 22px 14px;
	color:black;
	font-size: 23px;
}
#nav ul li ul li1 a:hover {
	background-color: #f3f3f3;
}
#nav ul li a {
	display: block;
	color:white;
	text-decoration: none;
}
#moto p {
	position: absolute;
	top: 350px;
	left: 30px;
	color: white;
	font-size: 40px;
}